body {
    
    min-height: 900px;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}
.chat-position{
    font-size: 56px;
    color: blanchedalmond;
    margin: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.container {
  width: 970px;
  padding-top:10px;
  margin: 0 auto;
}

.pure-form input.ng-dirty.ng-invalid {
  border-color: #e9322d;
}

.field-message {
  display: inline-block;
  color:#e9322d;
  font-size: 90%;
  margin-left: 0.5em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.rest {
    position: absolute;
    height: 100%;
    width: 100%;
}